/* have to set height to 100% or else it only uses what height it needs */
html,
body {
  height: 100%;
  /* padding on .row grid system creates padding on the right
  for mobile which brings up a scrollbar (don't want this behavior)*/
  overflow-x: hidden;
}

body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../images/concrete_seamless.png");
  color: #777777;
}

/* place vertical divider on navlinks except the last */
.nav-item:not(:last-child) {
  border-right: 1px solid rgb(235, 230, 230) !important;
}

a:hover {
  text-decoration: none;
}

nav {
  background-color: #ffffff;
  border-bottom: #cccccc solid 2px;
}

.logo {
  background-color: #4aaaa5;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#logo,
#logo:hover {
  color: white;
  font-weight: bold;
}

.nav-link {
  color: #777777;
}

.nav-link:hover {
  color: #4aaaa5;
}

/* main portion of the page */
.main-content {
  background-color: white;
  border: 2px solid lightgrey;
}

/* title for main content section */
#title {
  color: #4aaaa5;
  font-weight: bold;
  border-bottom: 3px solid lightgrey;
}

/* index.html about-me */
.about-me p {
  line-height: 1.7;
}

footer {
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  color: silver;
}

.photo-group {
  width: 300px;
  margin: auto;
  position: relative;
}

.project-name {
  position: absolute;
  width: 100%;
  top: 70%;
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
}

#submit {
  background-color: #4aaaa5;
  color: white;
  font-size: 18px;
}

/* media queries */
/* on 768 container should be defualt to have padding */
@media (max-width: 767px) {
  nav .container {
    max-width: 767px;
    padding: 0;
  }

  #title {
    text-align: center;
  }
}

/* on xs screens container fills up the screen and no padding  */
@media (max-width: 575px) {
  .container {
    max-width: 575px;
    padding: 0;
  }
}
